body {
    background-color: red !important;
}
.search-form{
    display: flex;
    flex-direction: column;
    width: 400px;
}


.main-bod {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 10px;
    justify-content: center;
    align-items: center;
}
.cards {
    display: flex;
    justify-content: center;
    align-items: center;
}